@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.headerContent{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.625rem;
    text-decoration: none;
}

.logoIcon{
    height: 5.875rem;
    width: 1.938rem;
}

.logoText{
    font-size: 2rem;
    font-weight: bold;
}

.nav{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
}

.navLink{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.navLink:hover{
    color: var(--link-color);
}

.contactBtn{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:768px){
    .contactBtn{
        display: block;
    }
}

.contactBtn:hover{
    background-color: #5254f8;
}

.menuBtn{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .menuBtn{
        display: block;
    }
}

.menuIcon{
    height: 1.5rem;
    width: 1.5rem;
}

.mainSection{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.contentLeft{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.sectionLabel{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.sectionHeading{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.sectionDesc{
    color: var(--gray);
    font-size: 1.13rem;
}

.btnGroup{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.startBtn, .tourBtn {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tourBtn{
    background-color: var(--dark-gray);
}

.startBtn:hover{
    background-color: #5254f8;
}

.tourBtn:hover{
    background-color: var(--gray);
}

.contentRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer{
    height: 50vh;
    border-radius: 1.3rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.sectionImg{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .mainSection{
        flex-direction: row;
        /* justify-content: space-around; */
    }

    .contentLeft{
        max-width: 50%;
        text-align: left;
    }

    .sectionHeading{
        padding-left: 0;
        font-size: 3.8rem;
    }

    .btnGroup{
        justify-content: start;
        padding-left: 0;
    }

    .sectionLabel{
        font-size: 1rem;
    }

    .imgContainer{
        height: 65vh;
    }

    .sectionDesc{
        font-size: 1.1rem;
        color: var(--gray);
        width: 78%;
    }
}

.componyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

.componyGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
}

.componyLogo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}

.svgImg{
    height: 1.5rem;
    width: 1.5rem;
}

.logoTxt{
    font-size: 1rem;
}

.componyTitle{
    color: var(--text-color);
}

@media screen and (min-width:768px) {
    .componyGrid{
        grid-template-columns: repeat(4, 1fr);
    }

    .componyTitle{
        font-size: 2.3rem;
        font-weight: bold;
    }
}

.featureContainer{
    background-color: var(--light-gray);
    padding: 2.5rem;
    text-align: center;
}

.featureContent{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainTitle{
    font-size: 2.2rem;
    color: var(--text-color);
}

.mainDesc{
    color: var(--dark-gray); 
    font-size: 1rem;
}

.featureGrid{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
}

@media screen and (max-width:768px) {
    .featureGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.featureCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3f83f8;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1rem;
}

.iconContainer{
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureSvg{
    height: 1.5rem;
    width: 1.5rem;
}

.featureInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featureTitle{
    color: var(--background-color);
    font-size: 0.8rem;
    font-weight: bold;
}

.featureDesc{
    color: var(--background-color);
    font-size: 0.8rem;
}

.featureCard:nth-child(1){
    background-color: #4a90e2;
}

.featureCard:nth-child(2){
    background-color: #ff6289;
}

.featureCard:nth-child(3){
    background-color: #fcbf58;
}

.featureCard:nth-child(4){
    background-color: #44bfc3;
}

.featureCard:nth-child(5){
    background-color: #77b05d;
}

.featureCard:nth-child(6){
    background-color: #7d78b1;
}

.testimonialContainer{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}

.testimonialContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.testimonialTitle{
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--text-color);
}

.testimonialGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.testimonialCard{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(177, 169, 169);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem ;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonialCard:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}

.testimonialComment{
    color: #555;
    font-size: 0.875rem;
}

.testimonialAvatar img{
    height: 5rem;
    width: 5rem;
}


.testimonialName{
    color: var(--primary-color);
    font-size: 1rem;
}

.testimonialOccup{
    color: #777;
    font-size: 0.875rem;
}

.newsLetterContainer{
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 50vh;
    margin: 0 auto;
}

.newsLetterContent{
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.newsLeft{
    width: 50%;
    height: 100%;
    display: none;
    position: relative;
}

.newsLeft img{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    
}

.newsRight{
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width:640px) {
    .newsLeft{
        display: block;
        width: 50%;
    }

    .newsRight{
        width: 50%;
    }

    .newsLetterContainer{
        padding: 2rem;
    }

    .newsTitle{
        font-size: 2.5rem;
    }
}

.newsInfo{
    padding: 0 3rem;
}

.newsTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
}

.newsDesc{
    text-align: left;
    color: #777;
}

.newsForm{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.newsEmail{
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.newsEmail:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.newsSend{
    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem 1rem;
}

.newsSend:hover{
    background-color: var(--link-color);
}

.privacyPolicy{
    padding: 0 3rem;
    color: #777;
    font-size: 0.75rem;
    text-align: left;
}

.newsLink{
    text-decoration: underline;
}

.footerContainer{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1280px;
}

.footerContent{
    max-width: 1280px;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.footerLeft{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* padding: 1.25rem 2.5rem; */
}

.footerLogoLinkContainer{
    display: flex;
    align-items: flex-start;
    margin-bottom: -2rem;
}

.logoLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logoLink h2{
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.footerLogoImg{
    width: 2rem;
    height: 6rem;
}

.social{
    display: flex;
    gap: 1rem;
}

.socialIcon{
    height: 1.5rem;
    width: 1.5rem;
}

.footerRight{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8rem;
    padding: 2.30rem 0;
}

.footerGridColumn{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footerGridHeading{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

.footerLinkList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footerLink{
    font-size: 0.9rem;
    color: #777;
}

.footerCopyright{
    font-size: 0.8rem;
    color: var(--gray);
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-top: 1px solid #d6d8de;
}

@media screen and (max-width:1080px) {
    .footerContent{
        flex-direction: column;
        align-items: center;
    }

    .footerLeft{
        padding-left: 5rem;
    }

    .footerRight{
        justify-content: space-evenly;
    }
}

@media screen and (max-width:800px) {
    .footerLeft{
        padding-left: 0.5rem;
    }

    .footerRight{
        grid-template-columns: repeat(2, 1fr);
    }
}